// BREAKPOINTS

$MOBILE_SM: 480px;
$MOBILE: 576px;
$TABLET: 768px;
$DESKTOP: 992px;
$DESKTOP_XL: 1024px;
$LARGE_DESKTOP: 1440px;

// COLORS
$color-accent-primary: #e74c3c;
$color-background-header: #234f9a;
