.main {
	// color: #d3eefb;
	font-family: "Lato", sans-serif;
	background-color: #d3eefb;
	padding: 1rem 0;

	&__container {
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
		padding: 0 2rem;
	}
}
