.trailer {
	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__card {
		border: 1px solid black;
		text-align: center;
		width: 200px;
		margin-right: 20px;
		background-color: aqua;
	}
}
