.pageTitle {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 500;
  color: rgb(33, 74, 87);
  text-align: center;
  line-height: 40px;
}

.contacts {
  display: flex;
  flex-direction: column; /* By default, elements stack vertically */
  align-items: center; /* Centers elements horizontally */
  gap: 40px; /* Adds space between sections */
  padding: 20px; /* Adds padding around the entire contacts section */
  max-width: 1200px; /* Limits the overall width of the contacts section */
  margin: 0 auto; /* Centers the entire contacts section */

  @media (min-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center; /* Ensures headings are centered */
  }

  &__info {
    font-size: 16px;
    color: #555;
    text-align: left;
    background-color: #f0f4f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 300px;
    max-width: 550px;
    width: 100%; /* Allows it to take full width up to max-width */

    p {
      margin: 10px 0;
      line-height: 1.5;
    }

    strong {
      font-weight: bold;
      color: #333;
    }

    a {
      color: #007bff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__mapContainer {
    width: 100%; /* Make the map container take full width of its parent */
    max-width: 1000px; /* Optional: Sets a max-width for the map section itself */
    background-color: #f0f4f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content within the map container */
    margin: 0 auto; /* Ensures the map container itself is centered */

    iframe {
      width: 100%; /* Makes the iframe responsive within its container */
      height: 350px; /* Sets a default height for the iframe */
      border-radius: 4px;
      border: 0;
    }
  }
}
